<!DOCTYPE html>
<html lang="zh-cn">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
  <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
  <title>登录-__TITLE__</title>

  <!-- ========== Css Files ========== -->
  <link href="__ADMINSTATIC__/assets/login/css/root.css" rel="stylesheet">
  <style type="text/css">
    body{background: #F5F5F5;}
  </style>
  </head>
  <body>

    <div class="login-form">
      <form>
        <div class="top">
          <a href="{:url('index/index/index')}"><img src="__ADMINSTATIC__/assets/login/img/logo.png" alt="icon" class="icon"></a>
          <h1>登录</h1>
          <h4>我们的爱</h4>
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" name="username" placeholder="账号">
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" name="password" placeholder="密码">
            <i class="fa fa-key"></i>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="checkbox101" type="checkbox" checked>
            <label for="checkbox101"> 记住账户</label>
          </div>
          <button type="button" class="btn btn-default btn-block" onclick="login.check();">登录</button>
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="{:url('admin/login/register')}"><i class="fa fa-external-link"></i>注册</a></div>
        <div class="col-xs-6 text-right"><a href="{:url('admin/login/forgot_password')}"><i class="fa fa-lock"></i>忘记密码</a></div>
      </div>
    </div>

<script src="__PUBLICSTATIC__/js/jquery-3.3.1.min.js"></script>
<script src="__PUBLICSTATIC__/js/layer/layer.js"></script>
<script src="__PUBLICSTATIC__/js/dialog.js"></script>
<script src="__PUBLICSTATIC__/js/login.js"></script>
</body>
</html>